*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  text-size-adjust: 100%;
}

body,
h1,
h2,
h3,
p,
ul,
ol,
pre {
  margin: 0;
}

button,
input,
select {
  font: inherit;
}

button,
select {
  cursor: pointer;
}

img,
svg {
  display: block;
  max-inline-size: 100%;
}
